@use "../../styles/partials/variables" as *;

.note-details {
 
  width: 360px; 
  // transition: all 0.3s ease; /* Smooth resizing transitions */
  border-radius: 8px;
  padding: 16px;
  margin: 0 auto; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &--expanded {
    width: 100%; 
    margin: 16px 0; 
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-bottom: 8px;
    font-size: large;
  }

  &__date {
    font-size: 12px;
  }

  &__divider {
    height: 1px;
    background-color: $cloud;
    margin: 8px 0;
  }

  &__content {
    padding: 10px 24px;
    font-size: 16px;
  }

  &__text {
    overflow: hidden; /* Default collapsed state: hide excess text */
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent wrapping for collapsed notes */

    .note-details--expanded & {
      overflow: visible; /* Allow full text to show */
      text-overflow: unset; /* Remove ellipsis */
      white-space: pre-wrap; /* Preserve line breaks and wrap text */
    }
  }

  &__tags {
    margin-top: 18px;
  }

  &__tags-list {
    list-style: none;
    padding: 0;
  }

  &__tag-item {
    display: inline-block;
    border: 1px solid $cloud;
    background-color: $white;
    margin-right: 4px;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 14px;
  }

  &__actions {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
  }

  &__action-icon {
    width: 20px;
  }
}
