// Typography
$font-family-primary: "Poppins", Arial, sans-serif;
$font-family-secondary: "Roboto", Helvetica, sans-serif;

// Colors

$black: #13182c;
$white: #ffffff;
$ghost-white: #f9f9f9;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$gray: #333;
$gray-light: #555;
$red-light: #ff6b6b;
$red-hover: #ff4c4c;

$blue-outline: #0078d4;
$blue-focus: #6ab7ff;
$blue-hover: #4a9fff;




