// Typography
$font-family: "Titillium web", Arial, Helvetica, sans-serif;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;

// Breakpoints

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;