@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    background-color: $blue-light;
    padding: 16px;
    
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    gap: 12px;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $font-family-primary;
    text-transform: uppercase;
    font-weight: 700;
    color: $navy;
  }
}
