@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: rgb(203, 203, 255);
  background: linear-gradient(to right, rgb(203, 203, 255), rgb(150, 150, 255));
  padding: 26px 0;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $font-family-primary;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background-color: $white;
    padding: 6px 10px;
    border-radius: 12px;

    transition: all 0.3s ease;

    &:hover {
      background-color: $white;

      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: 2px solid $white;
      outline-offset: 2px;
    }
  }

  &__logo {
    background-color: none;
    max-width: 180px;
    padding-top: 4px;
  }

  &__calendar-icon {
    max-width: 52px;
    display: flex;
    align-items: center;

    transition: transform 0.3s ease; 

    &:hover {
      transform: scale(1.1); 
      filter: brightness(1.2); 
    }

    &:focus {
      outline: 2px solid rgb(150, 150, 255); 
      outline-offset: 2px;
    }
  }
}
