@use "../../styles/partials/variables" as *;

.footer {
  background-color: rgb(203, 203, 255);
  background: linear-gradient(to right, rgb(218, 218, 252), rgb(179, 179, 253));
  padding: 2.5rem;
  text-align: center;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;

    &-link {
      display: inline-block;
      transition: transform 0.3s ease, filter 0.3s ease;

      &:hover {
        transform: scale(1.2);
        filter: brightness(1.2);
      }

      &:focus {
        outline-offset: 0.125rem;
      }
    }

    &-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &__copy {
    font-size: 0.875rem;
    color: $gray;
  }

  &__contact {
    font-size: 0.875rem;
    color: $gray-light;
    margin-top: -10px;
  }
}
